.kaufman {
  position: relative;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F1F1F;
  overflow: hidden;
}
.kaufman .table__cell_theme_dark{
  width: 200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
}
.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.kaufman__triangle {
    position: absolute;
    right: -124px;
    width: 660px;
    height: 636px;
    animation: rotation 20s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  