.kaufman-triangle {
    position: absolute;
    right: -124px;
    width: 660px;
    height: 636px;
    animation: rotation 20s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  